<?xml version="1.0"?>
<config>
	<modules>
		<Cammino_Conversionscripts>
			<version>0.1.0</version>
		</Cammino_Conversionscripts>
	</modules>
	<global>
		<models>
			<conversionscripts>
				<class>Cammino_Conversionscripts_Model</class>
			</conversionscripts>
		</models>
		<blocks>
			<conversionscripts>
				<class>Cammino_Conversionscripts_Block</class>
			</conversionscripts>
		</blocks>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<conversionscripts_observer>
						<type>singleton</type>
						<class>conversionscripts/observer</class>
						<method>addTracker</method>
					</conversionscripts_observer>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>
	</global>
</config>